<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PitchPerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>844DC3071CECB8CF00843B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844DC31B1CECB8CF00843B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>844DC3261CECB8CF00843B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
